<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208033563256-1rmjdl68e4163bvss6ig4u40k7hi5525.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208033563256-1rmjdl68e4163bvss6ig4u40k7hi5525</string>
	<key>API_KEY</key>
	<string>AIzaSyANfWmC7k-4_3CN9aCBHh5a4xeUBDvH6DY</string>
	<key>GCM_SENDER_ID</key>
	<string>208033563256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.said.baccvs.Baccvs-iOS</string>
	<key>PROJECT_ID</key>
	<string>baccvs-7d551</string>
	<key>STORAGE_BUCKET</key>
	<string>baccvs-7d551.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208033563256:ios:caafc72255569f3c52a38d</string>
</dict>
</plist>